name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  call-ci:
    uses: qntx/workflows/.github/workflows/github-pages.yml@main
